<!-- {{ model | json }} -->
<h1>Liberate a new Item!</h1>
<form #itemForm="ngForm"></form>
<div class="form-group">
    <label for="name">Liberator Name</label>
    <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" 
            class="alert alert-danger">Liberator Name is required
        </div>        
</div>

<div class="form-group">
    <label for="reasonForRemoval">Reason for Liberation</label>
    <input type="text"  class="form-control" id="reasonForRemoval"
            [(ngModel)]="model.reasonForRemoval" name="reasonForRemoval">
</div>

<div class="form-group">
    <label for="age">Age (in years)</label>
    <input type="text"  class="form-control" id="age"
           [(ngModel)]="model.age" name="age">
</div>

<div class="form-group">
    <label for="comments">Comments</label>
    <input type="text"  class="form-control" id="comments"
           [(ngModel)]="model.comments" name="comments">
</div>

<div class="form-group">
    <label for="removalMethod">Liberation Method</label>
    <select class="form-control"  id="removalMethod"
            required
            [(ngModel)]="model.removalMethod" name="removalMethod">
        <option *ngFor="let removalMethod of removalMethods" 
        [value]="removalMethod">{{removalMethod}}</option>
    </select>
</div>