<div class="container">
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="font-size: 60px; margin-right: 20px;">&rarr;</div>
        <button type="button" (click)="getRidOfIt()" style="font-weight: bold; 
                font-size: 24px; background-color: green; color: white;">
                GET-Rid-Of-It!
        </button>
        <div style="font-size: 60px; margin-left: 8px;">&larr;</div>
    </div>
    <div [hidden]="!liberate">
        <div style="text-align: center;">
            <h1>Liberate a new Item!</h1>
        </div>
            <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
            <div class="form-group">
                <label for="name">Liberator Name</label>
                <input type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="model2.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Liberator Name is required
                </div>        
            </div>
            <br>
            <div class="form-group">
                <label for="reasonForRemoval">Reason for Liberation</label>
                <input type="text"  class="form-control" id="reasonForRemoval"
                        [(ngModel)]="model2.reasonForRemoval" name="reasonForRemoval">
            </div>
            <br>
            <div class="form-group">
                <label for="age">Age (in years)</label>
                <br>
                <input type="number"  class="form-control" id="age"
                    [(ngModel)]="model2.age" name="age">
            </div>
            <br>
            <div class="form-group">
                <label for="comments">Comments</label>
                <input type="text"  class="form-control" id="comments"
                    [(ngModel)]="model2.comments" name="comments">
            </div>
            <p></p>
            <div class="form-group">
                <label for="removalMethod" style="font-size: 20px;">Liberation Method</label>
                <br>
                <select class="form-control" id="removalMethod"
                        required
                        [(ngModel)]="model2.removalMethod" name="removalMethod"
                        #removalMethod="ngModel" style="font-size: 1rem; height: 2rem;">
                  <option *ngFor="let removalMethod of removalMethods2" 
                          [value]="removalMethod">{{removalMethod}}</option>
                </select>
                <div [hidden]="removalMethod.valid || removalMethod.pristine"
                     class="alert alert-danger">Removal Method is required</div>
            </div>
            <br>
            <button type="submit" class="btn btn-success" 
            [disabled]="!itemForm.valid">Submit
            </button>
            <button type="button" class="btn btn-default"
            (click)="itemForm.reset()">Reset Form
            </button>
        </form>
        <p>What is being sent to the backend: {{ model2 | json }}</p>
    </div>
</div>