<div class="container">
    <!-- <div [hidden]="submitted"> -->
        <h1>Liberate a new Item!</h1>
        <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
            <div class="form-group">
                <label for="name">Liberator Name</label>
                <input type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="model2.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Liberator Name is required
                </div>        
            </div>

            <div class="form-group">
                <label for="reasonForRemoval">Reason for Liberation</label>
                <input type="text"  class="form-control" id="reasonForRemoval"
                        [(ngModel)]="model2.reasonForRemoval" name="reasonForRemoval">
            </div>

            <div class="form-group">
                <label for="age">Age (in years)</label>
                <input type="text"  class="form-control" id="age"
                    [(ngModel)]="model2.age" name="age">
            </div>

            <div class="form-group">
                <label for="comments">Comments</label>
                <input type="text"  class="form-control" id="comments"
                    [(ngModel)]="model2.comments" name="comments">
            </div>
            <p></p>
            <div class="form-group">
                <label for="removalMethod">Liberation Method </label>
                <select class="form-control"  id="removalMethod"
                        required
                        [(ngModel)]="model2.removalMethod" name="removalMethod"
                        #removalMethod="ngModel">
                    <option *ngFor="let removalMethod of removalMethods2" 
                    [value]="removalMethod">{{removalMethod}}</option>
                </select>
                <div [hidden]="removalMethod.valid || removalMethod.pristine"
                class="alert alert-danger"> Removal Method is required
                </div>
            </div>

            <button type="submit" class="btn btn-success" 
            [disabled]="!itemForm.valid">Submit
            </button>
            <button type="button" class="btn btn-default"
            (click)="itemForm.reset()">Reset Form
            </button>
        </form>
    <!-- </div> -->
</div>
{{ model2 | json }}