<!-- View for listing all items -->
<h2>Von welchem Gegenstand möchtest du dich heute trennen?</h2>
<ul class="items">
  <li *ngFor="let item of items">
    <a routerLink="/detail/{{item.id}}">
      <span class="badge">{{item.id}}</span> {{item.name}}
    </a>
  </li>
</ul>
<!-- View for listing all items -->
<!-- <div class="container mt-5">
    <h1 class="text-center">Gegenstandsliste</h1>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Alter</th>
          <th>Kommentar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.comments }}</td>
          <td>
            <button class="btn btn-primary btn-sm mr-2" (click)="updateItem(item)">Bearbeiten</button>
            <button class="btn btn-danger btn-sm" (click)="deleteItem(item)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success mt-3" (click)="addNewItem()">Gegenstand hinzufügen</button>
  </div> -->

<!-- Form for adding a new item
<form *ngIf="addMode" class="mt-5">
  <h2>Neuen Gegenstand hinzufügen</h2>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="newItem.name">
  </div>
  <div class="form-group">
    <label for="ageInput">Alter</label>
    <input type="number" class="form-control" id="ageInput" [(ngModel)]="newItem.age">
  </div>
  <div class="form-group">
    <label for="commentsInput">Kommentar</label>
    <input type="text" class="form-control" id="commentsInput" [(ngModel)]="newItem.comments">
  </div>
  <button class="btn btn-primary" (click)="addItem()">Hinzufügen</button>
  <button class="btn btn-secondary ml-3" (click)="cancelAdd()">Abbrechen</button>
</form> -->

<!-- Form to update an item -->
<!-- <form *ngIf="selectedItem" class="mt-5">
  <h2>Gegenstand bearbeiten</h2>
  <div class="form-group">
    <label for="nameInput">ID</label>
    <input type="text" class="form-control" id="IdInput" [(ngModel)]="selectedItem.id" placeholder="ID">
  </div>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="selectedItem.name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="ageInput">Alter</label>
    <input type="number" class="form-control" id="ageInput" [(ngModel)]="selectedItem.age">
  </div>
  <div class="form-group">
    <label for="commentsInput">Kommentar</label>
    <input type="text" class="form-control" id="commentsInput" [(ngModel)]="selectedItem.comments">
  </div>
  <button class="btn btn-primary" (click)="updateItem(selectedItem)">Änderungen speichern</button>
  <button class="btn btn-secondary ml-3" (click)="clearSelection()">Abbrechen</button>
</form> -->