<h2>Von welchem Gegenstand möchtest du dich heute trennen?</h2>
<div class="container mt-5">
    <h1 class="text-center">Gegenstandsliste</h1>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Alter</th>
          <th>Kommentar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>
            <!-- <button class="btn btn-primary btn-sm mr-2" (click)="editItem(item)">Bearbeiten</button> -->
            <button class="btn btn-danger btn-sm" (click)="deleteItem(item)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success mt-3" (click)="addNewItem()">Gegenstand hinzufügen</button>
  </div>
  