<div *ngIf="item">
    <h2>Detail View {{item.name | uppercase}}</h2>
    <div>
      ID: {{item.id}}
    </div>
    <div>
      <label for="item-name">Liberator: </label>
      <input id="item-name" [(ngModel)]="item.name" placeholder="name">
    </div>
    <div>
      <label for="item-reasonForRemoval">Reason for Liberation: </label>
      <input id="item-reasonForRemoval" [(ngModel)]="item.reasonForRemoval" placeholder="Reason for Liberation">
    </div>
    <div>
      <label for="item-age">Age (in years): </label>
      <input type="number" id="item-age" [(ngModel)]="item.age" placeholder="age">
    </div>
    <div>
      <label for="item-comments">Comments: </label>
      <input id="item-comments" [(ngModel)]="item.comments" placeholder="Comments">
    </div>
    <div class="form-group">
      <label for="removalMethod">Liberation Method: </label>
      <select class="form-control" id="removalMethod"
              required
              [(ngModel)]="item.removalMethod" name="removalMethod"
              #removalMethod="ngModel">
          <option *ngFor="let removalMethod of removalMethods" 
          [value]="removalMethod">{{removalMethod}}</option>
      </select>
  </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
</div>